[Unit]
Description=Proxy for OpenvSwitch controller
After=openflow_rcs.service

[Service]
Type=simple
PIDFile=/var/run/ovs_rc.pid
ExecStartPre=/bin/rm -f /var/run/ovs_rc.pid
ExecStart=/bin/sh -c '/usr/local/bin/run_openflow_rcs.sh 2 2>&1'
Restart=on-abort

[Install]
WantedBy=multi-user.target
